#namebrand
{
  color: blue;
}
.navbar .nav-link
{
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  display: block;
}

/*.navbar .nav-item.active*/
/*{*/
/*  border-left: #444 3px solid;*/
/*}*/

#home-heading
{
  position: relative;
  min-height: 1440px;
  min-width: 2560px;
  background: url("../img/RAWMEN_YT_Banner.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
