.jumbotron {
  background-image: url('construct.png') no-repeat center center;
  background-size: 100% 100%;
}
.jumbotron ul{
  font-size: 2em;
  color: green;
}
.jumbotron h1{
  color:black;
}
header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
header p {
  padding: 0 20px;
  margin: 0;
}
header .col-sm-4 h1{
  color: #00FF00;
}
.row{
  padding: 25px;
  font-size:250 px;
}
