body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #003366; /* Dark blue background */
}

.centered-text {
    justify-content: flex-start; /* Align the child content (text) to the right */
    text-align: left; /* Ensures that the text within aligns to the right */
}

.moving-box {
    position: absolute;
    width: 150px; /* Diameter of the circle */
    height: 150px; /* Diameter of the circle */
    border-radius: 50%; /* Makes the element a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FF0000; /* Clawd pure red */
    font-weight: bold;
    transition: all 0.5s ease; /* Smooth transition for repositioning */
    border: 2px solid #1e29ff;
    z-index: 1;
    cursor: pointer;
}

#banner {
    cursor: pointer; /* Suggests to users that it's clickable */
    width: 100%; /* Make the banner fill the container */
    height: auto; /* Maintain aspect ratio */
}

.hidden {
    display: none;
}

.centered-container, #logo-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2; /* Ensure it's above other content but might need adjustment based on your page's z-index usage */
}

/* Assume .show-logo class scales the logo up and ensures it's fully opaque */
.show-logo img {
    animation: scaleUp 1s forwards, fadeIn 1s forwards;
}

@keyframes scaleUp {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(3);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

